@import '_imports';
@import '_variables';
@import '_elements';
@import '_owl';

.content-header {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 100%);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    nav {
        padding-right: 5px;
        ul {
            padding-left: 0;
            list-style-type: none;
            li {
                display: inline-block;
                a {
                    padding: 5px;
                    &:hover {
                        color: #fff;
                    }
                }
                &:not(:last-child)::after {
                    content: '\2022';
                    color: $primary-font-color;
                }
            }
        }
    }
}
.main-folder {
    min-height: 500px;
    padding-top: 50px;
    background: {
        image: url('../images/vickings.jpg');
        size: cover;
        repeat: no-repeat;
        position-x: center;
    }
    .main-info {
        padding-left: 1rem;
        .main-logo {
            min-width: 100px;
        }
        .sinopse {
            max-width: 500px;
            color: $primary-font-color;
            font-size: 1.2rem;
        }
    }
}
.btn-acoes {
    background-color: rgba(0,0,0,.5);
    color: #fff;
    border: thin solid #fff;
    padding: .7rem 1rem;
    border-radius: 3px;
    margin-right: .2rem;
    cursor: pointer;
    transition: all linear .2s;
    &:hover {
        background-color: rgba(0, 0, 0, .3);
    }
}